body{
    background-color: #181719;
    color: white;
}
/* header section */
.nav-item-active{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}
.nav-items{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: white;
    text-decoration: none;
    padding-right: 86px;
}
.nav-special {
    font-weight: 700;
    text-decoration: underline;
}
.nav-items:hover{
    text-decoration: none;
    color: white;
}
.nav-heading{
    font-family: Crimson Pro;
    font-size: 14px;
    font-weight: 200;
    border: 1px solid #FFF;
    color: white;
    text-decoration: none;
    padding: 8px;
}
.navigation{
    margin-top: 46px;
}

/* main section */
.heading{
    font-family: 'Lora', serif;
    font-size: 48px;
    font-weight: 500;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
span{
    margin-right: 14px;
}
.main{
    margin-top: 153px;
}
.special-person{
    border-radius: 50%;
    height: 72px;
    width: 85px;
    margin-right: 20px;
}
.profile{
    position: absolute;
    width: 410px;
    height: 189px;
    left: 750px;
    top: 602px;
    background-color: #181719;
    padding-top: 10px;
}
.profile-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.profile-job{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.profile-details{
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 700;
}
/* footer section */
#footer-middle{
    font-weight: 700;
}

#footer-end{
    font-weight: 600;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 230px;
    color: #A9A9A9;
}